<html>
<!-- Head tag -->
<%- partial('_partial/head') %>

<body>
    <!-- Menu -->
    <%- partial('_partial/menu') %>

    <!-- Blog Header: title and subtitle -->
    <%- partial('_partial/header') %>

    <main>
        <article>
            <img class="cover" src="img/banner.jpg" alt="article cover">
            <div class="info">
                <h3 class="title">杂谈底下黑客的匿名对抗</h3>
                <p class="summary">比特币是勒索黑客的最爱。比特币的诞生为地下黑客提供了低成本匿名交易的第一道曙光。</p>
            </div>
        </article>

        <article>
            <img class="cover" src="img/banner.jpg" alt="article cover">
            <div class="info">
                <h3 class="title">杂谈底下黑客的匿名对抗</h3>
                <p class="summary">比特币是勒索黑客的最爱。比特币的诞生为地下黑客提供了低成本匿名交易的第一道曙光。</p>
            </div>
        </article>

        <article>
            <img class="cover" src="img/banner.jpg" alt="article cover">
            <div class="info">
                <h3 class="title">杂谈底下黑客的匿名对抗</h3>
                <p class="summary">比特币是勒索黑客的最爱。比特币的诞生为地下黑客提供了低成本匿名交易的第一道曙光。</p>
            </div>
        </article>

        <article>
            <img class="cover" src="img/banner.jpg" alt="article cover">
            <div class="info">
                <h3 class="title">杂谈底下黑客的匿名对抗</h3>
                <p class="summary">比特币是勒索黑客的最爱。比特币的诞生为地下黑客提供了低成本匿名交易的第一道曙光。</p>
            </div>
        </article>

        <article>
            <img class="cover" src="img/banner.jpg" alt="article cover">
            <div class="info">
                <h3 class="title">杂谈底下黑客的匿名对抗</h3>
                <p class="summary">比特币是勒索黑客的最爱。比特币的诞生为地下黑客提供了低成本匿名交易的第一道曙光。</p>
            </div>
        </article>
    </main>

    <!-- Footer -->
    <%- partial('_partial/footer') %>
    <!-- After footer scripts -->
    <%- partial('partial/script') %>
</body>
</html>